.heading{
    color:blue;
    font-style: italic;
    font-size: x-large;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 421px;
    margin-bottom: 30px;
}
.food{
    background-color: chocolate;
}

.title{
    font-style: normal;
    margin-left: 221px;
   
}
.image{
    width:480px;
    height:300px;
    margin-top: 15px;
    margin-left: 221px;
}

.top{
    margin-top: 20px;
}

.texthead{
    color:whitesmoke;
    font-weight:800;
    font-style: oblique;
}
@media only screen and (max-width:576px) {
    .heading {
      margin-left: 130px;
    }
    .image{
      width:300px;
      height:300px;
      margin: 15px;
    }
    .title{
        margin-left:20px;
        font-size: 20px;
    }
  }