.heading{
    color:blue;
    font-style: italic;
    font-size: x-large;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px;
}
.food{
    background-color: chocolate;
}

.title{
    color:whitesmoke;
    background-color: chocolate;
    font-weight:800;
    font-style: oblique;
    padding-left: 321px;
    font-size:80px;
    margin-top:20px;
}

@media only screen and (max-width: 515px) {
    .title {
      font-size: 20px;
      padding-left:12px;
    }
  }
  @media only screen and (max-width: 600px) {
    .title {
      font-size: 30px;
      padding-left:12px;
    }
  }
  @media only screen and (max-width: 740px) {
    .title {
      font-size: 40px;
      padding-left:171px;
    }
  }
  @media only screen and (max-width: 992px) {
    .title {
      font-size: 50px;
      padding-left:171px;
    }
  }