.heading{
    color:blue;
    font-style: italic;
    font-size: x-large;
    font-weight: 800;
    margin-top: 20px;
    margin-left: 20px;
}
.food{
    background-color: chocolate;
}

.title{
    color:whitesmoke;
    background-color: chocolate;
    font-weight:800;
    font-style: oblique;
    padding-left: 321px;
    font-size:80px;
    margin-top:20px;
}
.image{
  width:300px;
  height:300px;
  margin: 15px;
  }

  @media only screen and (max-width:576px) {
    .title {
      font-size:40px;
      color:black;
      padding-left:160px;
    }
    .image{
      width:485px;
      height:300px;
      margin: 15px;
    }
  }
 
  


 
   
  